/* Estilo general del body */
body {
    background-color: #000000; /* Color de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

/* Contenedor del formulario */
.container {
    max-width: 500px;
    background:transparent;
    padding: 40px;
    border-radius: 10px;
    border:2px solid rgb(2, 130, 234);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 15px;
   color:aqua;
    box-shadow: 5px 5px 5px rgba(4, 227, 227, 0.907) ;
}


/* Estilos para el título */
h2 {
    text-align: center;
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* Espaciado en los inputs */
.form-control {
    font-size: 10px;
    padding: 10px;
}

/* Botones */
.btn {
    font-size: 1.1rem;
    padding: 10px;
    border-color: aqua transparent;
    border-radius: 5px;
}
